.addAnimalContainer {
    display: flex;
    justify-content: center;
    margin: 50px;
}
 
.animal {
    animation: Animal-add 1s linear;
    margin: 15px;
    width: 660px;
    border-style: solid;
    border-color: black;
}

.Animal-Desc-Container {
    display: flex;
    justify-content: center;
}

.animal-info {
    margin: 5px;
    text-align: left;
}

.animal-image {
    width: 300px;
    height: 25%;
  }

.animal-row {
    margin: 5px;
    display: flex;
    justify-content: center;
}

.AnimalContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.removeAnimalContainer {
    display: flex;
    justify-content: center;
}

@keyframes Animal-add {
    from { opacity: 0; }
    to { opacity: 1; }
}