.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-Subtitle {
  font-size: 1em;
  font-style: italic;
}

.App-intro {
  font-size: large;
}

.body-container {
  margin: 10px;
}

.inputButton {
  margin: 2px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0066ff;
  color: white;
  width: 150px;
  height: 25px;
  cursor: pointer;
}

.inputButton:hover {
  margin: 2px;
  padding: 5px;
  background: #00255e;
  color: white;
  width: 150px;
  height: 25px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}